<strong>Hi, {{provider}},</strong>
<p>The following appointment has been cancelled:</p>
<p>
<strong>Client: </strong> {{user}} <br />
<strong>Date/time:</strong> {{date}} <br />
 <br />
 <small>
   This time slot is once again available for appointments.
 </small>
</p>
